# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.c
*.o

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg
*.egg-info/
dist/
build/

# Installer logs
debug.log

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment variables
.env

# System files
*.swp
*.swo

# Ignore internet speed log
internet_speed.log
